<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantom project</title>
    <link rel="stylesheet" href="/assets/bootstrap-5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css.css">
</head>

<body>

    <div class="bg-image"></div>

    <div class="bg-text">
      <h1>Dr.Majd Quantom Project</h1>
      <p>arshia jafari & alireza atoofi</p>
      <form action="/static_phi_matrixes_result" method="post" enctype="multipart/form-data">
        <input type="file" name="csvFile" />
        <button type="submit" class="btn btn-secondary">Upload</button>
      </form>

    </div>
    
</body>
<script src="/assets/jquery/jquery-3.7.0.js"></script>
<script src="/assets/bootstrap-5.2.3/js/bootstrap.min.js"></script>


</html>